BODY
{
    margin:0;
    padding:0;
}

/* .container
{
	padding-bottom:5px;
    background-color:transparent;
} */

.simple-overlay
{
    font-family:Verdana,sans-serif;
    font-size:10px;
    line-height:1.2em;
    /*padding:10px;*/
    background-color:#4c4c4e;
	color:#f0f0f0;
	border-radius:4px;
	/* opacity:0.975; */
	box-shadow: 0px 6px 12px -6px rgba(0,0,0,0.75);
}

/* .simple-overlay:hover
{
	opacity:1.0;
} */

.simple-overlay TABLE
{
    border-spacing:0;
    /*border-top:1px solid #e2e3e4;*/
}

.simple-overlay TR:first-child TH
{
	border-radius:4px 4px 0px 0px;
    /*border-bottom:1px solid #e2e3e4;*/
}

.simple-overlay TR
{
    line-height:1.2em;
}

.simple-overlay TD
{
    padding:7px;
    border-bottom:1px solid #404043;
    vertical-align:top;
}

.simple-overlay TR:last-child TD
{
    border-bottom:0px solid #404043;
}

.simple-overlay TH.table-section-heading
{
    text-align:left;
    font-size:1.2em;
    background-color:#313233;
    color:#f0f0f0;
    font-weight:bold;
    padding:5px;
    border-bottom:0px solid #404043;
}

.simple-overlay TH.table-section-subheading
{
    text-align:left;
    font-size:1em;
    background-color:#4c4c4e;
    color:#f0f0f0;
    font-weight:bold;
    padding:3px 7px;
    border-bottom:1px solid #404043;
}

.simple-overlay TD.table-cell-heading
{
    width:10em;
    /* font-weight:bold; */
	color:#f0f0f0;
    /*border-right:1px solid #e2e3e4;*/
    /*white-space:nowrap;*/
    background-color:#6c6c6e;
    word-wrap:break-word;
}

.simple-overlay TD.table-cell-content
{
    max-width:14em;
	color:#f0f0f0;
    /*white-space:nowrap;*/
}

.simple-overlay TR:hover TD
{
    /* background-color:#F7931D; */
    /* color:#313233; */
    /*white-space:nowrap;*/
}

.simple-overlay TR:last-child TD:first-child
{
	border-radius:0px 0px 0px 4px;
}

.simple-overlay TR:last-child TD:last-child
{
	border-radius:0px 0px 4px 0px;
}

.simple-overlay TR:last-child TD:first-child:last-child
{
	border-radius:0px 0px 4px 4px;
}

.simple-overlay TD.table-cell-content div
{
    margin:3px 0px;
}

.simple-overlay TD.table-cell-content UL
{
    margin:0;
    padding:0px 0px;
    list-style-type:none;
}

.simple-overlay TD.table-cell-content LI
{
    margin:0;
    padding:0;
}

.simple-overlay.wide TD.table-cell-content
{
    max-width:22em;
	color:#f0f0f0;
    /*white-space:nowrap;*/
}

.simple-overlay TABLE.subtable
{
    margin:-4px;
}

.simple-overlay TABLE.subtable TD:first-child
{
    /*text-align:right;*/
}

.simple-overlay TABLE.subtable TD
{
    border-bottom:0px solid #404043;
    padding:4px;
}

.simple-overlay TD.table-cell-content TABLE.subtable div
{
    margin:3px 0px 0px;
}